
table, th, td {
  border: 1px solid black;
	 border-collapse: collapse;
	
}
th , td{
	width:200px;
	height: 30px;
}
.row1{
	background-color:indianred;
}
.row2 , .row3, .row4{
	background-color:lightseagreen;
}

/* Your CSS Code here. */